## Definitions for Xinu cross-compilation
# For Macports
#COMPILER_ROOT   =      /opt/local/bin/arm-none-eabi-
#LIBGCC_LOC      =      /opt/local/lib/gcc/arm-none-eabi/5.1.0/

# For the Linux VM
COMPILER_ROOT   =      /usr/bin/arm-none-eabi-
LIBGCC_LOC      =      /usr/lib/gcc/arm-none-eabi/5.4.1

## Definitions for the config program in $XINU_HOME/config

# For Macports
#CONF_LFLAGS = -L/opt/local/lib -lfl

# For the Linux VM
CONF_LFLAGS = -lfl
